:root {
    --border-color: rgba(215,215,215);
}

*, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: text-fonts;
    src: url(HKNova-Medium.otf);
}

@font-face {
    font-family: editor-font;
    src: url(ProggyVector-Regular\ Mac.otf);
}

body {
    display:flex;
    flex-direction: column;
    /* background-color: rgba(239,239,239); */
    overflow-x: hidden;
    font-family: text-fonts;
}

/* a {
    text-decoration: none;
    color: black;
} */

nav {
    position: fixed;
    display : flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    z-index: 3;
    background-color: white;
}

.nav-content {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav .nav-content .features a.underline-hover-effect {
    text-decoration: none;
    color: inherit;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.underline-hover-effect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: orangered;
    background-image: linear-gradient(to right,orangered,black);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-hover-effect:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* -------------------------------------------------- */
#underline-hover-effect1 {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

#underline-hover-effect1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: orangered;
    background-image: linear-gradient(to right,orangered,black);
    transform-origin: top right bottom right;
    transition: transform 0.25s ease-out;
}

#underline-hover-effect1:hover:after{
    transform: scaleX(1);
    transform-origin: top right bottom left;
}
.logo {
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    color: rgb(73, 70, 70);
}
.features {
    display: flex;
    width: 40%;
    gap: 2rem;
    font-size: 1rem;
}
.cont{
    display: flex;
    height: 78vh;
    margin-top: 4.5%;
}
h2 {
    
    font-size:130px;
    position: absolute;
    bottom: 140px;
    /* color:orangered; */
    background: linear-gradient(to right,orangered,rgb(210, 29, 29),black);
    padding-left:100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     animation: animate 6s linear;
    /* text-transform : uppercase; */
    /* font-family: cursive; */
}

@keyframes animate {
0%,10%,100%
{ 
    width: 0;
}
70%,90%
{
    width: 100%;
} 
}

.scroll {
    font-size: 2rem;
    position: absolute;
    right: 6.44vw;
    bottom: 5.86vw;
    overflow: hidden;
    margin-bottom: 5rem;
}
.scroll span img {
    padding-left: 1rem;
    height: 2rem;
    -webkit-animation: topScroll 1.5s ease infinite;
    animation: topScroll 1.5s ease infinite;
    /* margin-bottom: 5rem; */
}
@keyframes topScroll{
0% {
    transform: translateY(-1.46vw);
}
40% {
    transform: translateY(0);
}
60% {
    transform: translateY(0);
}
100% {
    transform: translateY(1.46vw);
}
}

.pras{
    margin-top: 60px;
    margin-bottom: 5vh;
    justify-content: center;
}
.dfd{
    margin-left: 45vw;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: orangered;
}
.ad{
    width: 70%;
    margin-left: 38vh;
}
.adr{
    width: 70%;
    margin-top: 15vh;
    height: 2px;
    color: orangered;
    margin-left: 38vh;
}
.sa{
    margin-top: 10vh;   
}
.class1{
    display: flex;
    font-size: x-large;
    justify-content: center;
}
.class2,.class3{
    display: flex;
    font-size: x-large;
    justify-content: center;
}
.slo{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    height: 88vh;
    margin-top: 10rem ;
}

.std {
    display: flex;
    height: 88vh;
    width : 50vw;
}
.rdi{
    display: flex;
    height: 90vh;
    width:50vw;
}
 
.gg{
    width: 100%;
    height:90vh;
}
video {
    object-fit:cover;
    position: absolute;
    top: 0;
    margin-top: 10vh;
    left: 0;
    /* overflow: hidden; */
    height: 80%;
    width: 100%;
  }

.adi{
    display: flex;
    height: 92vh;
    margin-top: 0;
    width:100vw;
}
.gi{
    height: 88vh;
    width:100vw;
}
.slo1,.slo2{
    display: flex;
    height: 90vh;
    flex-direction: row;
}
.std1{
    display: flex;
    height: 90vh;
    width : 50%;
}
.std2{
    display: flex;
    font-size: x-large; 
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    height: 90vh;
    width : 50%;
    padding: 3rem;
}
.sss,.abd{
    font-size: 3rem;
    display: flex;
    /* color: orangered; */
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    
}
.ss,.abs{
    font-size: 1.5rem;
    margin-top: 2rem;
    display: flex;
    font-family: text-fonts;
    justify-content: center;
    align-items: center;
    /* text-decoration: underline; */
}
.rdi1{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width:50%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
.rdi2{
    display: flex;
    height: 90vh;
    width:50%;
}
.gg1,.gg2{
    width: 100%;
    height:90vh;
}
.go1{
    font-size: 2.5rem;
    display: flex;
    /* color: orangered; */
    justify-content: center;
    margin-left: 2rem;
    align-items: center;
    text-decoration: underline;
}
.aboutus{
height: 80vh;
width: 100%;
margin-top: 28vh;
display: flex;
flex-direction: column;
background-color: #111;
color: white;
}
.address{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    height: 10vh;
    width:100%;  
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    height: 10vh;
    width:100%;  

}
.comp{
    display: flex;
    width:100%;
    margin-top: 3rem;
    font-size: 2.2rem;
    justify-content: center;
    align-items: center;
}
.comp1{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* align-items: center; */
    height: 15vh;
    /* color: orangered; */
    width:100%;
    font-size: 1.8rem;
}
.follow{
    display: flex;
    font-size: 34px;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.icons .fa{
    font-size: 50px;
    letter-spacing: 3rem;
    margin-left: 30px;

}

.ben{
    font-size:1.8rem;
    display: flex;
    justify-content: center;
    margin-top:1.8rem;
    /* align-items: center; */
    height: 4vh;
    width:100%;
    font-size: 1.3rem;
}
.slider-frame{
    overflow: hidden;
    height: 45vh;
    width: 33vw;
    margin-top: 20px;
}

/*---------- SLIDE ANIMATION --------------*/


@keyframes slide_animation{
    0% {left:0;}
    10% {left:0;}
    20% {left:33vw;}
    30% {left:33vw;}
    40% {left: 66vw;}
    50% {left: 66vw;}
    60% {left: 33vw;}
    70% {left: 33vw;}
    80% {left: 0;}
    90% {left: 0;}
    100% {left:0;}

}

@-webkit-keyframes slide_animation{
    0% {left:0;}
    10% {left:0;}
    20% {left: 33vw;}
    30% {left: 33vw;}
    40% {left: 66vw;}
    50% {left: 66vw;}
    60% {left: 33vw;}
    70% {left: 33vw;}
    80% {left: 0;}
    90% {left: 0;}
    100%{left: 0;}
    
}

.slide-images{
    width: 132vw;
    height: 45vh;
    margin: 0 0 0 -66vw;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.img-container{
    height: 45vh;
    width: 33vw;
    position: relative;
    float: left;
}
.img-container img{
    height: 45vh;
    width: 33vw;
    position: relative;
    float: left;
}
.column{
    display: flex;
    flex-direction: row;
    height:45vh;
    width: 100%;
}
.column1{
    display: flex;
    height:45vh;
    width: 33vw;
}
.column2{
    display: flex;
    height:45vh;
    width: 33vw;
}
.column3{
    display: flex;
    height:45vh;
    width: 33vw;
}

.adi {
    background-image: url(yash.jpg);
    background-size: cover;
    background-position: center;

}
.adi1{
    font-size: 2rem;
display: flex;
justify-content: center;
color: white;
align-items: center;
margin: 3rem;
flex-direction: column;
}
.adi11{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 2rem;

}
.go{
    font-size: 1.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.ff1{
    font-size: 1.5rem;
    font-family:sans-serif;
    padding: 4px;
    border-color: orangered;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-top: 3rem;
}